<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.min.css" />
    <title>Hello World!</>
  </head>
  <body>
    <form th:action="@{/login}" method='POST' id='loginForm' class='cssform' autocomplete='off'>
      <div class="form-group">
        <label for="username"><h4 th:text="#{login.username}"/></label>
        <input type="text" name='username' class="form-control" placeholder="username" id='username'/>
      </div>
      <div class="form-group">
        <label for="password"><h4 th:text="#{login.password}"/></label>
        <input type="password" name='password' class="form-control" placeholder="password" id='password'/>
      </div>
      <br/>
      <button id="btn-success" type="submit" class="btn btn-lg btn-primary btn-block"><h5 th:text="#{login.action}"/></button>
      <br/>
    </form>
  </body>
</html>
